<div class="w-full h-full flex flex-column p-2">
  <div #scrollChatContainer class=" relative flex-1 overflow-y-auto hide-scrollbar" (scroll)="onScroll()">
    <ng-container *ngIf="vm$ | async as vm">
      <div *ngIf="vm.loading ">
        <div class="card flex justify-content-center ">
          <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
        </div>
      </div>
      <div *ngIf="!vm.loading && vm.messages.length === 0 ">
        <h1 class="flex align-items-center justify-content-center">
          No messages available
        </h1>
      </div>
      <div class="messages">
        <div *ngFor="let msg of vm.messages; let i = index">
          <message-template [username]="msg.username" [text]="msg.text" [date]="msg.date"
            [connectedUser]="vm.senderUsername" [image]="msg.image"></message-template>

        </div>
      </div>

    </ng-container>
    <div class="flex align-items-center justify-content-center  fixed" style="top: 50%; left: 66%;">
      <p-button icon="pi pi-arrow-down" [rounded]="true" severity="help" *ngIf="showScrollDownButton"
        (click)="scrollToBottom()" />
    </div>

  </div>

  <p>{{typingMessage}}</p>
  <div class="">
    <message-input (messageSent)="handleMessage($event)" (isTyping)="handleTyping()"></message-input>
  </div>
</div>